[Scheduler]
ApplicationFolder=C:\Users\popsl\Desktop\Interactive
VideoFolder=C:\Users\popsl\Desktop\Video
VideoPlayer=C:\Users\popsl\Desktop\Interactive\V1\V1.exe
VideoPlayerParams=
start_time=1950
end_time=2200
content=V1,A1
ID=0001
KeepOrder=false
Port=8080
[Projectors]
NEC_PJ_STATUS=OFF